<form action="/movies" method="post">
      <button type="submit" id="check">Go Back</button>
    </form>
<div class="detail-movies flex">
  <div>
    <img src="{{this.image}}" alt="">
  </div>
  <div>
    <h1>{{this.title}}</h1>
    <h2>Director: {{this.director}}</h2>
    <p>Stars:</p>
    <ul>
      {{#each stars}}
        <li>{{this}}</li>
      {{/each}}
    </ul> 
    <p>{{this.description}}</p>
    <p>
      {{#each showtimes}}
        {{this}} |
      {{/each}}
    </p>
  </div>
</div>