
<div class="button"><a href="/movies" class="back-button">Go back</a></div>
<section class="movie">
 
  <div class="movie-section">
    <div>
      <img src="{{movie.image}}" alt="{{movie.title}}">
    </div>
    <div class="movie-text">

      <h1>
        {{movie.title}}
      </h1>

      <h3>
        Director: {{movie.director}}
      </h3>
      <ul>
        {{#each movie.stars}}
        <li>
          {{this}}
        </li>
        {{/each}}
      </ul>
      <p>{{movie.description}}</p>
      {{#each movie.showtimes}}
      <span>{{this}} | </span>
      {{/each}}
    </div>
  </div>
</section>