
<section id="movie-info">

<article class="movie-info-photo">
  <img src="{{image}}" alt="{{title}} photo">
</article>

<article class="movie-info"> 
  <h2>{{title}}</h2>
  <h3>Director: {{director}}</h3>
  <h4>Stars</h4>
  <ul>
    <li>{{stars}}</li>
  </ul>
  <p>{{description}}</p>
  <p>{{showtimes}}</p>
</article> 

</section>